.test__section {
  margin-bottom: rem(32);
}
.test__box-wrapper {
  display: flex;
  // width: fit-content;
}

.test__box-wrapper--width600px {
  width: rem(600);
}

.test__box-wrapper--fitcontent {
  width: fit-content;
}