// 透過度
$opacity: 0.6;
$opacity1: 0.5;
$opacity2: 0.2;
$hover-opacity: 0.8;

// 汎用色
$black0: #000;
$black1: #111;
$black1-05: rgba( 7, 7, 7, 0.5);
$black3: #333;
$white: #fff;


// アクセントカラー
$accent-color: #f9f871;
$accent-color2: #ffea2e;
$accent-color3: #FFBA6A;

// slide
$dot-color-defalt: #C4C4C4;

